*

!.gitignore
!.zshrc
!.bashrc

!myScripts/
!myScripts/**/*

!misc/
!misc/**/*

!.config/

!.config/scripts/
!.config/scripts/**/*


!.config/hypr/
!.config/hypr/**/*

!.config/kitty/
!.config/kitty/**/*

!.config/alacritty/
!.config/alacritty/**/*

!.config/nvim/
!.config/nvim/**/*

!.config/tmux/
!.config/tmux/**/*
.config/tmux/plugins/

!.config/waybar/
!.config/waybar/**/*

!.config/fastfetch/
!.config/fastfetch/**/*

!.config/rofi/
!.config/rofi/**/*

!.config/swappy/
!.config/swappy/**/*

!.config/nwg-look/
!.config/nwg-look/**/*

