*

!.gitignore
!.zshrc
!.bashrc
!setup.sh
!README.md
!LICENSE

!.config/

!.config/scripts/
!.config/scripts/**/*

!.config/starship/
!.config/starship/**/*

!.config/hypr/
!.config/hypr/**/*

!.config/kitty/
!.config/kitty/**/*

!.config/alacritty/
!.config/alacritty/**/*

!.config/tmux/
!.config/tmux/**/*
.config/tmux/plugins/

!.config/yazi/ 
!.config/yazi/**/* 

!.config/waybar/
!.config/waybar/**/*

!.config/fastfetch/
!.config/fastfetch/**/*

!.config/rofi/
!.config/rofi/**/*

!.config/swappy/
!.config/swappy/**/*

!.config/nwg-look/
!.config/nwg-look/**/*

!.config/gtk-3.0/
!.config/gtk-3.0/**/*

!.config/gtk-4.0/
!.config/gtk-4.0/**/*

!.config/Kvantum/
!.config/Kvantum/**/*

!.config/pipewire/
!.config/pipewire/**/*

!.config/pipewire/media-session.d/
!.config/pipewire/media-session.d/**/*

./.config/mpd/
./.config/mpd/**/*

!grimoire/
!grimoire/**/*

!.scripts/
!.scripts/**/*

!.icons/
!.icons/**/*
