*

!.gitignore
!.zshrc
!.bashrc

!Notes/
!Notes/**/*

!myScripts/
!myScripts/**/*

!misc/
!misc/**/*

!.config/

!.config/hypr/
!.config/hypr/**/*

!.config/kitty/
!.config/kitty/**/*

!.config/nvim/
!.config/nvim/**/*

!.config/waybar/
!.config/waybar/**/*

!.config/fastfetch/
!.config/fastfetch/**/*

!.config/rofi/
!.config/rofi/**/*


!.config/swappy/
!.config/swappy/**/*
