configuration {
    show-icons:      true;
    display-drun:    "";
    disable-history: false;
	terminal: "alacritty";
}



//@theme "/home/notarkhit/.config/rofi/themes/dracula-theme.rasi"

//@theme "/home/notarkhit/.config/rofi/themes/nord.rasi"

@theme "/home/notarkhit/.config/rofi/themes/rounded-nord-dark.rasi"
